# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/
dist/
build/
.pytest_cache/

# Node
node_modules/
frontend/build/
npm-debug.log*

# DB
*.sqlite3

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
